/*===============GLOBAL===============*/

body {
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1em;
  margin: auto;
}

.header,
.headerb,
nav,
.wrap {
  margin: auto;
}

/*===============Header===============*/

header {
  padding: 75px 0 30px 50px;
  background: url("../img/mountains.png") no-repeat top;
  text-align: left;
  color: white;
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
}

.header {
  font-size: 5em;
  font-weight: 300;
}

.headerb {
  font-size: 1.5em;
}

.header::first-letter {
  font-weight: 900;
}

/*===============Navigation===============*/

nav {
  background-color: black;
  font-family: "Bebas Neue", "Calibri", "Gill Sans", sans-serif;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  text-align: center;
  font-size: 1.5em;
  padding: 0 0 0 50px;
}

.menu {
  padding: 1%;
  min-width: 15%;
}

header a:link,
header a:visited,
.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: white;
}

.menu a:active {
  color: black;
  text-shadow: 0 0 0.5em white;
}

.menu a:hover {
  text-shadow: 0 0 0.5em white;
}

.menu a[aria-current="page"] {
  text-decoration: underline;
  text-shadow: 0 0 0.5em white;
}

/*===============Main===============*/

.wrap-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

section {
  width: 45%;
  padding: 5% 0 5% 0;
}

.main-text {
  margin-left: 10%;
}

.steven {
  max-width: 100%;
  width: 60%;
  height: 60%;
  box-shadow: 25px 25px 50px black;
}

.website {
  max-width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

/*===============Portfolio===============*/

.main-portfolio {
  width: 55%;
  padding: 5px;
}

.main-portfolio:last-of-type {
  margin-bottom: 50px;
}

.timePortfolio {
  flex: 0 0 70%;
  border-bottom: 5px solid black;
}

.main-text h2,
.timePortfolio h2 {
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
  font-size: 4ch;
  color: rgb(124, 124, 32);
}

.wrap-portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-portfolio h3 {
  font-size: 3ch;
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
}

/*===============Resumé===============*/

.wrap-resume {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  min-height: 550px;
  margin: auto;
}

#section0,
#section1,
#section2,
#section3 {
  border-bottom: solid 5px black;
}

#section0,
#section2,
#section4 {
  width: 25%;
}

#section1,
#section3,
#section5 {
  width: 75%;
}

.wrap-resume h2 {
  font-size: 5ch;
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
}

.wrap-resume h4 {
  color: rgb(73, 73, 46);
}

.wrap-resume li {
  color: rgb(124, 124, 32);
}

#img0,
#img1,
#img2 {
  display: block;
  margin-top: 20px;
  margin-left: 0;
  margin-right: auto;
  max-width: 50%;
}

.wrap-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#educationH2:hover,
#workH2:hover,
#meritsH2:hover {
  color: rgb(124, 124, 32);
  transition: color 0.5s;
  cursor: pointer;
}

#eduDivAnim,
#workDivAnim,
#meritsDivAnim {
  display: none;
}

/*===============Contact===============*/

.formContainer {
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
  font-weight: 800;
  border-radius: 3px;
  padding: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
}

#fname,
#email {
  width: 200px;
}

#fname,
#email,
#msg {
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 20px;
  font-family: "Quicksand", "Calibri", "Gill Sans", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.6ch;
  background-color: rgba(124, 124, 32, 0.25);
}

#msg {
  resize: none;
  height: 150px;
}

.formContainer label {
  font-size: 2ch;
}

.formContainer h3 {
  font-size: 4ch;
  color: rgb(124, 124, 32);
}

#submitContact {
  width: 100px;
  padding: 5px 25px;
  background-color: rgba(124, 124, 32, 0.25);
  border-radius: 5px;
  font-size: 1.8ch;
  font-weight: bold;
}

#submitContact:hover {
  background-color: rgb(124, 124, 32);
  transition: 0.25s;
  cursor: pointer;
}

#submitContact:active {
  color: white;
}

.mail {
  max-width: 100%;
  width: 75%;
  border-radius: 20px;
}

.sectionMail {
  width: 30%;
}

/*===============Footer===============*/

footer {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  padding: 50px 50px 50px 0;
  background-color: black;
  color: white;
  bottom: 0;
}

/*===============Modal===============*/

.read-more {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}

.read-more img {
  max-width: 100px;
  max-height: 16px;
  background-color: white;
}

.read-more a {
  text-decoration: none;
  padding: 15px;
  border: 2px solid black;
  border-radius: 3px;
  text-transform: uppercase;
  color: black;
}

#modal-first,
#modal-second,
#modal-third,
#modal-fourth,
#modal-fifth,
#modal-sixth {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
}

#modal-first:target,
#modal-second:target,
#modal-third:target,
#modal-fourth:target,
#modal-fifth:target,
#modal-sixth:target {
  visibility: visible;
  opacity: 1;
}

.modal-content-1,
.modal-content-2,
.modal-content-3,
.modal-content-4,
.modal-content-5,
.modal-content-6 {
  position: relative;
  background: #fff;
  width: 500px;
  max-width: 90%;
  padding: 1em 2em;
  border-radius: 4px;
}

.modalclose {
  position: absolute;
  top: 0;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 2.5em;
}

/*===============Loader===============*/

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid rgb(124, 124, 32);
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*===============Media===============*/

@media (max-width: 600px) {
  .menu {
    flex: 0 0 90%;
    min-height: 20%;
  }

  .header {
    font-size: 2.5em;
    font-weight: 300;
    padding: 20%;
  }

  .headerb {
    font-size: 1.25em;
  }

  header {
    text-align: center;
    align-items: center;
  }

  footer {
    flex-direction: column-reverse;
    padding-left: 20%;
  }

  .wrap-resume h2 {
    font-size: 3.5ch;
  }

  .read-more {
    width: 45%;
  }
}

@media (max-width: 900px) {
  section {
    flex: 0 0 90%;
  }
  .timePortfolio {
    flex: 0 0 90%;
    border-bottom: 5px solid black;
  }
  #section0,
  #section2 {
    border-bottom: none;
  }
  #section0,
  #section2,
  #section4 {
    display: none;
  }
  .mail {
    display: none;
  }
  .main-text {
    margin-left: 0;
  }

  .wrap-resume section {
    flex: 0 0 90%;
  }

  .wrap-resume {
    width: 100%;
  }
}
